In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ucimlrepo import fetch_ucirepo

In [6]:
  
# fetch dataset 
letter_recognition = fetch_ucirepo(id=59) 
  
# data (as pandas dataframes) 
X = letter_recognition.data.features 
y = letter_recognition.data.targets 
  
# metadata 
print(letter_recognition.metadata) 
  
# variable information 
print(letter_recognition.variables)

{'uci_id': 59, 'name': 'Letter Recognition', 'repository_url': 'https://archive.ics.uci.edu/dataset/59/letter+recognition', 'data_url': 'https://archive.ics.uci.edu/static/public/59/data.csv', 'abstract': 'Database of character image features; try to identify the letter', 'area': 'Computer Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 20000, 'num_features': 16, 'feature_types': ['Integer'], 'demographics': [], 'target_col': ['lettr'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1991, 'last_updated': 'Thu Sep 28 2023', 'dataset_doi': '10.24432/C5ZP40', 'creators': ['David Slate'], 'intro_paper': None, 'additional_info': {'summary': 'The objective is to identify each of a large number of black-and-white rectangular pixel displays as one of the 26 capital letters in the English alphabet.  The character images were based on 20 different fonts and each letter within these 20 fonts was randomly distorted to produce a file of 20,000 unique stimuli.  Each stimulus was converted into 16 primitive numerical attributes (statistical moments and edge counts) which were then scaled to fit into a range of integer values from 0 through 15.  We typically train on the first 16000 items and then use the resulting model to predict the letter category for the remaining 4000.  See the article cited above for more details.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '\t 1.\tlettr\tcapital letter\t(26 values from A to Z)\r\n\t 2.\tx-box\thorizontal position of box\t(integer)\r\n\t 3.\ty-box\tvertical position of box\t(integer)\r\n\t 4.\twidth\twidth of box\t\t\t(integer)\r\n\t 5.\thigh \theight of box\t\t\t(integer)\r\n\t 6.\tonpix\ttotal # on pixels\t\t(integer)\r\n\t 7.\tx-bar\tmean x of on pixels in box\t(integer)\r\n\t 8.\ty-bar\tmean y of on pixels in box\t(integer)\r\n\t 9.\tx2bar\tmean x variance\t\t\t(integer)\r\n\t10.\ty2bar\tmean y variance\t\t\t(integer)\r\n\t11.\txybar\tmean x y correlation\t\t(integer)\r\n\t12.\tx2ybr\tmean of x * x * y\t\t(integer)\r\n\t13.\txy2br\tmean of x * y * y\t\t(integer)\r\n\t14.\tx-ege\tmean edge count left to right\t(integer)\r\n\t15.\txegvy\tcorrelation of x-ege with y\t(integer)\r\n\t16.\ty-ege\tmean edge count bottom to top\t(integer)\r\n\t17.\tyegvx\tcorrelation of y-ege with x\t(integer)', 'citation': None}}
     name     role         type demographic                    description  \
0   lettr   Target  Categorical        None                 capital letter
1   x-box  Feature      Integer        None     horizontal position of box
2   y-box  Feature      Integer        None       vertical position of box
3   width  Feature      Integer        None                   width of box
4    high  Feature      Integer        None                  height of box
5   onpix  Feature      Integer        None              total # on pixels
6   x-bar  Feature      Integer        None     mean x of on pixels in box
7   y-bar  Feature      Integer        None     mean y of on pixels in box
8   x2bar  Feature      Integer        None                mean x variance
9   y2bar  Feature      Integer        None                mean y variance
10  xybar  Feature      Integer        None           mean x y correlation
11  x2ybr  Feature      Integer        None              mean of x * x * y
12  xy2br  Feature      Integer        None              mean of x * y * y
13  x-ege  Feature      Integer        None  mean edge count left to right
14  xegvy  Feature      Integer        None    correlation of x-ege with y
15  y-ege  Feature      Integer        None  mean edge count bottom to top
16  yegvx  Feature      Integer        None    correlation of y-ege with x

   units missing_values
0   None             no
1   None             no
2   None             no
3   None             no
4   None             no
5   None             no
6   None             no
7   None             no
8   None             no
9   None             no
10  None             no
11  None             no
12  None             no
13  None             no
14  None             no
15  None             no
16  None             no

In [18]:
display(y)
display(X)
data=pd.concat([X,y],axis=1)
display(data)

      lettr
0         T
1         I
2         D
3         N
4         G
...     ...
19995     D
19996     C
19997     T
19998     S
19999     A

[20000 rows x 1 columns]

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,lettr
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,T
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,I
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,D
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,N
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,D
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,C
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,T
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,S
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,A

In [22]:
# value count for each letter for extra credit
display(data['lettr'].value_counts())

U    813
D    805
P    803
T    796
M    792
A    789
X    787
Y    786
N    783
Q    783
F    775
G    773
E    768
B    766
V    764
L    761
R    758
I    755
O    753
W    752
S    748
J    747
K    739
C    736
H    734
Z    734
Name: lettr, dtype: int64

In [23]:
# variance of each feature
display(data.var())

/var/folders/7w/dj46r5ks7tsglt695mmbyhjr0000gn/T/ipykernel_22087/697179814.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(data.var())

x-box     3.660378
y-box    10.920086
width     4.058506
high      5.113887
onpix     4.798106
x-bar     4.104819
y-bar     5.407270
x2bar     7.289827
y2bar     5.668318
xybar     6.192507
x2ybr     6.922530
xy2br     4.328975
x-ege     5.440747
xegvy     2.392350
y-ege     6.589861
yegvx     2.616209
dtype: float64